.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.flashes h4 {
    line-height: 2;
}
.login {
    background-image: url('/static/images/login.jpg');
    background-size: cover;
    height: 100vh; /* Set the height to fill the entire viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
.card-panel{
    width: 550px;
    padding: 25px;
    margin-right: 250px;
       
}
.grey-background {
    background-color: #ccc; /* Adjust the color to your desired shade of grey */
}
html {
    background-color: #ccc;
}
.overview-image{
    height: auto;
    width: 500px;
    margin: 10px;
}
.card-title{
    text-align: center;
}
.card-action{
    text-align: center;
    }
h2{
    text-align: center;
}
.stock-image{
    width: 500px;
    height: 375px;
    margin: 10px;
}