{% extends "base.html" %}
{% block content %}

<h2>Issue Stock from Account</h2>
<br>
<br>
<div class="row">
    <form class="col s12" method="POST" action="{{ url_for('issue_form') }}">
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Placeholder" id="stock_name" name="stock_name" type="text" class="validate">
                <label for="stock_name">Stock Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Placeholder" id="stock_number" name="stock_number" type="text" class="validate">
                <label for="stock_number">Stock Number</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Placeholder" id="stock_uom" name="stock_uom" type="text" class="validate">
                <label for="stock_uom">Stock UoM</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Placeholder" id="stock_location" name="stock_location" type="text" class="validate">
                <label for="stock_location">Stock Location</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Placeholder" id="stock_qty" name="stock_qty" type="text" class="validate">
                <label for="stock_qty">Stock Qty</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                    ISSUE Stock <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
